@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aurora - Cure For Me <iframe width="560" height="315" src="https://www.youtube.com/embed/K17df81RL9Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>


<p>
    <button onclick="myMove()">Click Me</button>
</p>
<div id="animationContainer">
    <div id="Animation">Weeeeeeeeeee</div>
</div>

